body {
    background-color: var(--body-background-color);
    color: var(--body-text-color);
    font-family: var(--body-font-family);
    margin: 0;
    padding: 0;

    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: center;
}
